ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color:#388E3C;
}

hr {
  width: 15%;
  height: 1px;
  border: 0;
  border-top: 2px solid #e9f7ef;
  padding: 0;
}

.header-title {
  font-family: "Comfortaa", cursive;
  padding: 4.5rem 2rem 3rem;
}

.p {
  font-family: "Nunito", sans-serif;
}

.portfolio-container p{
  width: 60%;
  margin: 20px auto;
}

.footer-title {
  font-family: "Roboto", sans-serif;
  color: white;
}

.title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.1rem;
  color: #7dcea0;
}

.category {
  color: #abb2b9;
  margin-bottom: .7rem;
}

.white-spacing {
  width: 100%;
  margin-bottom: 85px;
}

.head {
  height: 862px;
  background-image: 
   linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0,0,0,.1)), 
   url("https://images.unsplash.com/photo-1496309732348-3627f3f040ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14d1045387c8116077bf8725732e8cd7&auto=format&fit=crop&w=2250&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.head-container {
  height: 862px;
  width: 940px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-start; 
  padding-top: 100px;
}

.logo {
  /* float: left;
  display: inline-block;
  margin-left: 12px; */
  order: -1;
}

#jklogo {
  max-width: 33%;
  margin-top: -70px;
  margin-left: 10px;
}

.socials {
  margin-top: 5px;
}

.socials ul {
  margin: 0;
  padding: 0;

  display: flex;
}

.socials ul li {
  display: inline-block;
  margin-right: 20px;
}

.socials ul li a {
  color: white;
}

.socials ul li a:hover {
  color: #afeeee;
}

.hero {
  height: 748px;
  width: 940px;
}

.hero h1 {
  margin: 0;
  padding-top: 150px;
  font-family: "Comfortaa";
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.heading {
  display: block;
  animation-name: moveInTop; 
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.paragraph {
  display: block;
  animation-name: moveInBottom;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}

.hero p {
  margin: 25px auto;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 200;
  width: 65%;
  text-align: center;
  color: white;
}

.portfolio-container {
  width: 940px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.portfolio-block {
  padding: 1rem;
}

.grid__item {
  background: #fff;
  color: inherit;
  min-height: 50px;
  cursor: pointer;
  text-align: center;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px;
  position: relative;
}

.link:hover {
  color: #A5D6A7;
}

.meta__avatar {
  max-width: 60%;
  filter: drop-shadow(1px 1px 15px #B0BEC5);
}

.meta__avatar_perfeggt {
  max-width: 25%;
}

.fa-eye {
  color: #ffffff;
}

.fa-clock-o {
  color: #ffffff;
}

footer {
    background-image: 
      /* linear-gradient(to right, rgba(255, 218, 185, .01), rgba(255, 218, 185, .01)),  */
      linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0,0,0,.1)), 
      url("https://images.unsplash.com/photo-1533335121856-52d185e85ec1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=39daf4bbded93e03b7213b945258c51f&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container {
  width: 940px;
  margin: 0 auto;
}

.footer-stack {
  padding-bottom: 40px;
  margin-bottom: 103px;
}

.footer-stack h2 {
  font-family: "Comfortaa", cursive;
}

.footer-stack p {
  font-family: "Roboto", sans-serif;
}

.footer-stack h2 {
  margin: 0;
  padding-top: 90px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.footer-stack p {
  margin: 15px 0 40px 0;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.block {
  width: 55%;
  height: 250px;
  margin: 0 auto;
}

.footer-things h5,
.footer-things a,
.footer-fav ul li a {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #ffffff;
  display: block;
}

.footer-things {
  display: block;
  line-height: 1.2em;
}

.footer-things h5 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.footer-things a {
  display: block;
  margin-top: 4px;
}

.footer-things a:hover,
.footer-fav a:hover {
  color: #FF8A65;
}

.footer-fav {
  display: inline-block;
  position: relative;
  width: 100%;
}

.footer-fav ul {
  display: inline-block;
  height: 140px;
  width: 24%;
  margin: 0;
  padding: 0;
}

#up-btn {
  position: fixed;
  bottom: 15%;
  left: 90%;
  display: none;
}

#up-btn .fa {
  color: #a2d9ce;
}


#footer:hover + #up-btn {
  display: block;
}

#up-btn:hover {
  display: block;
}


@media screen and (max-width: 599px) {
  .head {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1531948240083-6a7582ab0c93?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjI0MX0&s=d81a0da6ed97b8077719fa5ab0e83bd7&auto=format&fit=crop&w=1934&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .head-container {
    width: 100%;
  }

  .logo {
    margin: 0 auto 0 25px;
  }

  .socials {
    margin-right: 0;
    color: white;
  }

  .socials ul li {
    margin-right: 40px;
  }

  .hero {
    width: 100%;
  }

  .hero h1 {
    color: white;
  }

  .hero a {
    display: none;
  }
  
  .hero p{
    width: 85%;
  }

  .video {
    width: 304;
    height: 240;
  }

  .portfolio-container {
    margin: 0 auto 40px auto;
  }

  .portfolio-container p{
    width: 90%;
  }

  footer {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1506868230452-d33b33d645e9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e982f7caae1ff37695bdd923d5d1863b&auto=format&fit=crop&w=2550&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  } 

  .footer-container,
  .footer-stack,
  .footer-things,
  .portfolio-container {
    width: 100%;
  }

  .footer-stack {
    margin-bottom: 15px;
    margin-bottom: 50px;
  }

  
  .block {
    width: 99%;
    height: 250px;
    margin: 0 auto;
  }


  .footer-things,
  .footer-fav,
  .logo,
  .socials,
  .services-block-box {
    display: block;
  }

  .footer-things {
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-fav {
    width: 100%;
  }

  .footer-fav ul {
    width: 25%;
    float: left;
    height: auto;
  }

  .footer-fav ul li {
    text-align: left;
  }

  #up-btn {
    left: 80%;
    bottom: 10%;
  }
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  .head {
    width: 100%;
  
  }
  .head-container {
    width: 100%;
  }

  .logo {
    display: block;
    margin: 0 auto 0 120px;
  }

  .socials {
    display: block;
    margin-right: 50px;
  }

  .hero,
  .services-container {
    width: 100%;
  }

  .hero h1 {
    color: white;
  }

  .hero p {
    margin: 20px auto;
    font-family: "Comfortaa", cursive;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    width: 80%;
  }

  .video {
    width: 448;
    height: 288;
  }

  .portfolio-container,
  .footer,
  .footer-container,
  .footer-stack,
  .footer-things {
    width: 100%;
  }

  .footer-stack {
    margin-bottom: 15px;
    margin-bottom: 50px;
  }

  .footer-things {
    text-align: center;
    margin-bottom: 30px;
  }

  .block {
    width: 99%;
    height: 250px;
    margin: 0 auto;
  }

  .footer-fav {
    display: block;
    width: 55%;
    margin: 0 auto;
    float: none;
  }

  .footer-fav ul {
    width: 24%;
    float: left;
    height: auto;
  }

  .footer-fav ul li {
    text-align: center;
  }

  #up-btn {
    left: 80%;
    bottom: 10%;
  }
}

@keyframes moveInTop {
  0% {
      opacity: 0; 
      transform: translateY(-5rem);
  }
  100% {
      transform: translate(0); 
  }
}

@keyframes moveInBottom {
  0% {
      opacity: 0; 
      transform: translateY(5rem);
  }
  100% {
      transform: translate(0); 
  }
}

@keyframes moveInTop {
  0% {
      opacity: 0; 
      transform: translateY(-5rem);
  }
  100% {
      transform: translate(0); 
  }
}

@keyframes moveInBottom {
  0% {
      opacity: 0; 
      transform: translateY(5rem);
  }
  100% {
      transform: translate(0); 
  }
}